body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(8, 8, 8);
}


/* Header  */
.menu {
    display: flex;
    width: 100%; 
    align-items: center; 
    background-color: rgb(15, 15, 15);
    color: beige;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.backdrop {
    position: relative;
    text-align: center; 
    color: white; 
}

.backdrop img {
    width: 100%; 
    height: auto; 
}

.hero-text {
    position: absolute; 
    top: 5%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    border-radius: 10px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.logo {
    width: 350px;
    height: 200px;
    border-radius: 45%
}

li {
    margin: 60px; 
    display: inline;
}

.profilePic {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 30%
    
}
/* Main  */
.search-container {
    display: flex;
    justify-content: center;
    
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
    width: 300px; 
}
.search-button {
    padding: 10px;
    background-color: #5f0361;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}
.search-button:hover {
    background-color: #350236; 
}
/* element jag skapar  */
.boxNextWatch {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.boxNextWatch div {
    width: 200px; 
    text-align: center; 
}

.boxNextWatch img {
    width: 100%; 
    height: auto; 
}




/* foooter  */
footer {
    background-color:rgb(29, 1, 19);
display: grid;
grid-template-columns: repeat(8, 1fr);
}
 .contact-container {
    grid-column:2/3 ;
    color: white;
    text-align: center;
 }

 .ourVision {
    grid-column:4/6 ;
    color: white;
    text-align: center;
 }

 .footerBrand {
    grid-column:6/9 ;
    color: white;
    text-align: center;

 }
 footer p {
    padding: 10px;
    letter-spacing: 2px;

 }